@charset "utf-8"
/*
		Date: 10/23/2019
		Dev: Rebecca A. Skibo
		file: styles.css
		assignment: Schedule
*/


/* Structure code */

html	{
		background-image: images(background1.jpg);
		
}

.schedule {
		border-style: ridge;
		text-align: center;
		column-span: all;
}

footer {
		text-align: center;
		text-decoration: none;
}

#title {
		text-align: center;
		background-color: eggshell;
	
}

/* table styles */
table {}
.schedule {
		border-style: ridge;
		text-align: center;
		color: eggshell;
		
}

.schedule table, tr, td, th {
		padding: 80%
		font-size: 20px;
		text-align: auto;
		color: black;
		background-color: grey;
		outline-style: ridge;
}


.schedule th {
		columns: 90% 6;

		widows: 2;
		orphans: 3;
		
}

