
/*
		Date: 10/23/2019
		Dev: Rebecca A. Skibo
		file: styles.css
		assignment: Schedule
*/


/* Structure code */


body {
	line-height: 1em;
	background-color:rgb(140, 26, 255);
}
.schedule {
		border-style: ridge;
		text-align: center;
		column-span: all;
		
}

footer {
		text-align: center;
		text-decoration: none;
}

.schedule caption {
		font-size: 30px;
		text-align: center;
		background-color: #FFEBCD;
	
}

/* table styles */
table.schedule {
		background: #FFEBCD;
		border: 10px ridge rgb(153, 0, 153);
		font-size: 0.75em;
		width: 100%;
		border-collapse: separate;
		border-spacing: 5px;
		border-color: #e6ccff;
}
table.schedule th, table.schedule td {
		border: 2px white;
		font-size: 20px;
		border-color: #e6ccff;
}
.schedule {
		border-style: ridge;
		text-align: center;
		color: #FFEBCD;
		
}

.schedule table, tr, td, th {
		padding: 80%;
		font-size: 20px;
		text-align: center;
		color: black;
		border-color: #e6ccff;
		outline-style: ridge;
}


.schedule th {
		column-count: 6;

		widows: 2;
		orphans: 3;
		
}








